dandi==0.58.0
hdmf==3.6.1
colorcet
cellpose
seaborn
ndx-events
ndx-photometry @ git+https://github.com/catalystneuro/ndx-photometry.git@7ea9d755ceac9524125f50ab528b403b135c4530
ndx-moseq @ git+https://github.com/pauladkisson/ndx-moseq.git@cac0b4003525b3ac902fed9a68d90ca459a211f8
pyarrow
neuroconv
nwbwidgets
nwbinspector
pre-commit
